<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Perfil</th>
        <th>Idade</th>
        <th>E-mail</th>
        <th>Ativo</th>
        <th>País</th>
        <th>Nível de Experiência</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.role }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.isActive ? 'Sim' : 'Não' }}</td>
        <td>{{ person.country }}</td>
        <td>{{ person.experience }}</td>
        <td>
          <button (click)="editar(person.id)">Editar</button>
          <button (click)="deletePerson(person.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
</table>
<button (click)="create()">Cadastrar Nova Pessoa</button>

  